
<div class="row">

  <div class="large-12 columns">
    <div class="panel">
      <div class="row">

        <% @artists.each do |artist| %>
            <%= link_to artist do %>
                <div class="large-3 columns">
                  <%= image_tag artist.avatar.url %>
                </div>
            <% end %>
        <% end %>
      </div>
      <br>
      <div class="large-12">
        <div class="apple_pagination"><%= will_paginate @artists %></div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <h5>Últimas Notícias</h5>
        <% if !@newlatests.nil?  %>
            <div class="panel">
              <% @newlatests.each do |newlatest| %>
                  <%= link_to newlatest do %>
                        <h5><%= newlatest.title %></h5>
                        <p><%= newlatest.content %></p>
                  <% end %>
              <% end %>
              </div>
        <% end %>
      </div>

      <div class="large-6 columns">
        <h5>Últimos Lançamentos</h5>
        <% if !@latestalbums.nil?  %>
            <div class="panel">
              <% @latestalbums.each do |lastalbum| %>
                  <div class="large-3">
                    <%= link_to artist_album_path(lastalbum.artist,lastalbum) do %>
                        <%= image_tag lastalbum.cover.url %>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

