<div class="row">
  <h1>Casting</h1>
  <div class="large-12 columns">
    <table>
      <thead>
      <tr>
        <th>Foto:</th>
        <th>Nome:</th>
        <th>Nacionalidade:</th>
      </tr>
      </thead>
      <tbody>
          <% @artists.each do |artist| %>
              <tr>
                <td><%= link_to artist do %><%= image_tag artist.avatar.url, :style => 'width: 50px; height:50px' %><% end %></td>
                <td><%= artist.name %></td>
                <td><%= artist.country %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-12 panel">
    <div class="panel">
      <%= link_to 'Novo Artista', new_artist_path, :class => 'small button expand' if !current_user.nil? %>
    </div>
  </div>
</div>