<div class="row">
  <div class="large-12">
    <h2 class="right"><%= @artist.name %></h2>
  </div>

  <%= render :partial => 'artists/shared/artistBar', @artist => @artist %>

  <div class="large-9 columns">

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>Release</h3>
          <hr>
          <p><%= @artist.release.html_safe %></p>
        </div>
      </div>
    </div>

    <div class="panel">
      <h3>Albums</h3>
      <hr>
      <div class="row">
        <% @artist.albums.each do |album| %>
            <div class="large-3 columns left">
              <%= link_to artist_album_path(@artist,album) do %>
                  <%= image_tag album.cover.url %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12">
      <%= link_to 'Voltar aos Artistas', artists_path, :class => 'small button expand' %>
  </div>
</div>


