<%= form_for(@newlatest) do |f| %>
  <% if @newlatest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newlatest.errors.count, "error") %> prohibited this newlatest from being saved:</h2>

      <ul>
      <% @newlatest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.text_field :title, :placeholder => 'Título da Notícia' %></h3>
  </div>
  <div class="field">
    <%= f.text_area :content, :class => "redactor" %>
  </div>

  </br>
  <div class="large-12">
    <%= link_to 'Voltar', newlatests_path, :class => 'button large-6 column' %>
    <%= f.submit 'Salvar Notícia', :class => 'button large-6 column'%>
  </div>

<% end %>
