<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @newlatest.title %>
</p>

<p>
  <b>Content:</b>
  <%= @newlatest.content %>
</p>

<% if !current_user.nil? %>
    <%= link_to 'Edit', edit_newlatest_path(@newlatest) %> |
<% end %>
<%= link_to 'Back', newlatests_path %>
