<div class="row">
  <div class="large-12">
    <p id="notice"><%= notice %></p>

    <div class="large-9 column">
      <h2><%= @newlatest.title %></h2>

      <p>
        <%= @newlatest.content.html_safe %>
      </p>

      <div class="large-12">
        <% if !current_user.nil? %>
            <%= link_to 'Edit', edit_newlatest_path(@newlatest), :class => 'button large-6 column' %>
            <%= link_to 'Voltar', newlatests_path, :class => 'button large-6 column' %>
        <% else %>
            <%= link_to 'Voltar', newlatests_path, :class => 'button large-12 column' %>
        <% end %>

      </div>
    </div>

    <div class="large-3 column">
      <div class="large-12">
        <h5>Últimos Lançamentos</h5>
        <% if !@latestalbums.nil?  %>
            <div class="panel">
              <% @latestalbums.each do |lastalbum| %>
                  <div class="large-6">
                    <%= link_to artist_album_path(lastalbum.artist,lastalbum) do %>
                        <%= image_tag lastalbum.cover.url %>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
