<div class="row">
  <div class="large-12">
    <p id="notice"><%= notice %></p>

    <h2><%= @newlatest.title %></h2>

    <p>
      <%= @newlatest.content.html_safe %>
    </p>

    <% if !current_user.nil? %>
        <%= link_to 'Edit', edit_newlatest_path(@newlatest) %> |
    <% end %>
    <%= link_to 'Back', newlatests_path %>
  </div>
</div>
