<%= form_for [@artist,@album] do |f| %>
    <% if @album.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

          <ul>
            <% @album.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">

      <%= render :partial => 'artists/shared/artistBar', @album.artist => @artist %>


      <div class="large-9 columns">
        <% if action_name == 'new' %>
            <h3>Novo Album:</h3>
        <% end %>
        <% if action_name == 'edit' %>
            <h3>Editando:</h3>
        <% end %>
        <div class="row">
          <div class="large-12 columns">
            <h3><%= f.text_field :name,:placeholder => 'Título do Álbum' %></h3>
            <%= image_tag @album.cover.url %>
            <%= f.file_field :cover %>
            <h5>Data de Lançamento:</h5>

            <div class="large-12">

              <%= f.date_select :releasedate, {
                      :order => [:day, :month, :year],
                      :prompt => { :day => 'Escolha o Dia', :month => 'Escolha o Mês', :year => 'Escolha o Ano' }
              },
                                {
                                        :class => "large-4 column custom"
                                }
              %>
            </div>

          </div>
        </div>
        </br>
        <div class="large-12">
          <%= link_to 'Voltar', artist_path(@artist), :class => 'button large-6 columns' %>
          <% if action_name == 'new' %>
              <%= f.submit "Criar Album", :class => 'button large-6 columns' %>
          <% else %>
              <%= f.submit "Atualizar Álbum", :class => 'button large-6 columns' %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>