<p id="notice"><%= notice %></p>


<p id="notice"><%= notice %></p>

<div class="row">

  <%= render :partial => 'artists/shared/artistBar', @album.artist => @artist %>

  <div class="large-9 columns">

    <div class="row">
      <div class="large-12 columns">
        <h3><%= @album.name %></h3>
        <%= image_tag @album.cover.url %>
        <h5>Data de Lançamento:</h5>
        <p><%= @album.releasedate %></p>
      </div>

      <div class="large-12 panel">
        <h3>Faixas:</h3>
        <ul>
          <% @album.musics.each do |music| %>
              <li><%= "#{music.name}(#{music.duration})" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 column">
    <%= link_to "Voltar ao artista #{@album.artist.name}", artist_path(@artist), :class => 'small button expand' %>
  </div>
  <div class="large-6 column">
    <%= link_to 'Voltar aos Artistas', artists_path, :class => 'small button expand' %>
  </div>
</div>
