<p id="notice"><%= notice %></p>

<div class="row">

  <%= render :partial => 'artists/shared/artistBar', @album.artist => @artist %>

  <div class="large-9 columns">

    <div class="row">
      <div class="large-12 columns">
        <h3><%= @album.name %></h3>
        <%= image_tag @album.cover.url %>
        <h5>Data de Lançamento:</h5>
        <p><%= @album.releasedate.strftime('%d/%m/%y') %></p>
      </div>

      <div class="large-12 panel">
        <h3>Faixas:</h3>
        <table>
          <tr>
          <th>Nome</th>
          <th>Genero</th>
          <th>Duração</th>
          <% if !current_user.nil? %>
              <th>Edição</th>
          <% end %>
          </tr>
          <% @album.musics.each do |music| %>
            <tr>
              <td><%= "#{music.name}" %></td>
              <td><%= music.genre %></td>
              <td><%= "#{music.duration.strftime("%I:%M")}" %></td>
              <td>
                <% if !current_user.nil? %>
                    <%= link_to 'Editar', edit_artist_album_music_path(@artist,@album,music), :class => 'button' %>
                    <%= link_to 'Destroy', artist_album_music_path(@artist,@album,music), method: :delete, data: { confirm: 'Are you sure?' },:class => 'button' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 column">
    <%= link_to "Voltar ao artista #{@album.artist.name}", artist_path(@artist), :class => 'small button expand' %>
  </div>
  <div class="large-6 column">
    <%= link_to 'Voltar aos Artistas', artists_path, :class => 'small button expand' %>
  </div>
</div>
