<div class="large-3 panel columns">

  <div class="large-12">
    <%= image_tag @artist.avatar.url %>
  </div>

  <div class="large-12">
    <h4><%= @artist.country %></h4>
  </div>

  <div class="row">
    <div class="panel">
      <% if !current_user.nil? && controller_name == 'artists' %>
          <div class="large-12">
            <%= link_to 'Editar Artista', edit_artist_path(@artist), :class => 'small button expand' %>
          </div>

          <div class="large-12 full_width">
            <%= link_to 'Excluir Artista', @artist, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'small button expand' %>
          </div>

          <div class="large-12">
            <%= link_to 'Novo Album', new_artist_album_path(@artist), :class => 'small button expand' %>
          </div>
      <% end %>

      <% if !current_user.nil? && controller_name == 'albums' && action_name != 'new' %>
          <div class="large-12">
            <%= link_to "Editar Álbum", edit_artist_album_path(@artist,@album), :class => 'small button expand' if action_name != 'edit' %>
            <%= link_to "Adicionar Música", new_artist_album_music_path(@artist,@album), :class => 'small button expand' %>
          </div>
      <% end %>

    </div>
  </div>
</div>