<div class="large-3 panel columns">
  <%= image_tag @artist.avatar.url %>

  <h4><%= @artist.name if (controller_name != 'artists' && action_name != 'show') %></h4>

  <b>País:</b>
  <%= @artist.country %>

  <div class="row">
    <div class="panel">
      <% if !current_user.nil? && controller_name == 'artists' %>
          <div class="large-12">
            <%= link_to 'Editar', edit_artist_path(@artist), :class => 'small button expand' %>
          </div>

          <div class="large-12">
            <%= link_to 'Novo Album', new_artist_album_path(@artist), :class => 'small button expand' %>
          </div>

          <div class="large-12 full_width">
            <%= link_to 'Excluir', @artist, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'small button expand' %>
          </div>
      <% end %>

      <% if !current_user.nil? && controller_name == 'albums' && action_name != 'new' %>
          <div class="large-12">
            <%= link_to "Editar #{@album.name}", edit_artist_album_path(@artist,@album), :class => 'small button expand' %>
            <%= link_to "Adicionar Música", new_artist_album_music_path(@artist,@album), :class => 'small button expand' %>
          </div>
      <% end %>

    </div>
  </div>
</div>