<p>
  <b>Name:</b>
  <%= @music.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @music.genre %>
</p>

<p>
  <b>Duration:</b>
  <%= @music.duration %>
</p>

<p>
  <b>Album:</b>
  <%= @music.album.name %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @music.cover.url %>
</p>

<% if !current_user.nil? %>
    <%= link_to 'Edit', edit_artist_album_music_path(@artist,@album,@music) %> |
<% end %>
<%= link_to "Back to " + @music.album.name + "'s Musics", artist_album_musics_path(@artist,@album) %>
