<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Villar Village</title>

  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag    "application", :media => "all" %>

</head>
<body>

<%= render :partial => 'inicial/shared/menu' %>

<br>
<div class="row">
  <div class="large-2 columns hide-for-small">
    <%= image_tag 'biglogo.png', :style => 'margin-top: -50px;' %>
  </div>
</div>

<%= yield %>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="large-6 columns">
        <p>&copy; Villar Village Recs. Todos os direitos reservados.</p>
      </div>

    </div>
  </div>
</footer>

<%= javascript_include_tag 'application'  %>

<%= javascript_include_tag 'modernizr' %>

<%= javascript_include_tag 'zepto' %>

<%= javascript_include_tag 'foundation.min' %>

<script>
    $(document).foundation();
</script>
</body>
</html>
