<!DOCTYPE html>
<html>
<head>
  <title>VillarVillage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-bar-fixed">
  <div class="logo"></div>
  <div class="menu-container">
    <%= render :partial => 'inicial/shared/menu' %>
  </div>
</div>

<div class="content">
  <div class="center-content"><%= yield %></div>
</div>

<div class="footer">
  <div class="half">fb</div>
  <div class="half">twt</div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
